body {
    font-family: sans-serif;
    background-color: #f4f1ea;
}

.card {
    background-color: #FFFFFF;
    color: #000000;
    border-width: 5px;
    border-style: solid;
    padding: 40px;
}

.box-a {
    border-color: #6f4e37;
    margin-bottom: 50px;
}

.box-b {
    border-color: #c68b59;
    border-radius: 30px;
}